.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    padding: 0.75rem 0.75rem;
    color: white;
    background-color: black;
    border: 1px solid white;
    font-size: 20px;
    cursor: pointer;
}